@charset "UTF-8";
/**
 * 
 * @authors Yhxang (yhxang@163.com)
 * @date    2015-02-10 11:17:55
 * @version 1.0.0
 */
@-webkit-keyframes arrow {
	from { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
	to { -webkit-transform: translate3d(0, 0px, 0); transform: translate3d(0, 0px, 0);  }
}
@keyframes arrow {
	from { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
	to { -webkit-transform: translate3d(0, 0px, 0); transform: translate3d(0, 0px, 0);  }
}
@-webkit-keyframes bgscroll {
	from { background-position:0px 0px; }
	to { background-position:0px -840px; }
}
@keyframes bgscroll {
	from { background-position:0px 0px; }
	to { background-position:0px -840px; }
}
@-webkit-keyframes clockroll {
	from { -webkit-transform: rotate(0);transform: rotate(0); }
	to { -webkit-transform: rotate(360deg);transform: rotate(360deg); }
}
@keyframes clockroll {
	from { -webkit-transform: rotate(0);transform: rotate(0); }
	to { -webkit-transform: rotate(360deg);transform: rotate(360deg);  }
}
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); }
  60% { -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); }
  60% { -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes bling {
	from { -webkit-filter:brightness(1); }
	to { -webkit-filter:brightness(1.05); }
}
@keyframes bling {
	from { -webkit-filter:brightness(1); }
	to { -webkit-filter:brightness(1.05); }
}
@-webkit-keyframes tanxiao {
	0% { -webkit-transform: scale3d(1, 1, 1);	transform: scale3d(1, 1, 1); }
	20% { -webkit-transform: scale3d(1.1, 1.1, 1);	transform: scale3d(1.1, 1.1, 1); }
	100% { -webkit-transform: scale3d(0, 0, 1);	transform: scale3d(0, 0, 1); }
}
@keyframes tanxiao {
	0% { -webkit-transform: scale3d(1, 1, 1);	transform: scale3d(1, 1, 1); }
	20% { -webkit-transform: scale3d(1.1, 1.1, 1);	transform: scale3d(1.1, 1.1, 1); }
	100% { -webkit-transform: scale3d(0, 0, 1);	transform: scale3d(0, 0, 1); }
}
@-webkit-keyframes tanda {
	0% { -webkit-transform: scale3d(0, 0, 1);	transform: scale3d(0, 0, 1); }
	60% { -webkit-transform: scale3d(1.05, 1.05, 1);	transform: scale3d(1.05, 1.05, 1); }
	100% { -webkit-transform: scale3d(1, 1, 1);	transform: scale3d(1, 1, 1); }
}
@keyframes tanda {
	0% { -webkit-transform: scale3d(0, 0, 1);	transform: scale3d(0, 0, 1); }
	60% { -webkit-transform: scale3d(1.05, 1.05, 1);	transform: scale3d(1.05, 1.05, 1); }
	100% { -webkit-transform: scale3d(1, 1, 1);	transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes doudong {
	from { -webkit-transform: scale3d(1, 1, 1) skewX(0deg); transform: scale3d(1, 1, 1) skewX(0deg); }
	to { -webkit-transform: scale3d(1, .97, 1) skewX(3deg); transform: scale3d(1, .97, 1) skewX(3deg); }
}
@keyframes doudong {
	from { -webkit-transform: scale3d(1, 1, 1) skewX(0deg); transform: scale3d(1, 1, 1) skewX(0deg); }
	to { -webkit-transform: scale3d(1, .97, 1) skewX(3deg); transform: scale3d(1, .97, 1) skewX(3deg); }
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.12, 1.12, 1.12); transform: scale3d(1.12, 1.12, 1.12); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@keyframes pulse {
  0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.1, 1.12, 1.12); transform: scale3d(1.1, 1.12, 1.12); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes piaoleaf {
	from { -webkit-transform: translate3d(0px, 0px, 0);transform: translate3d(0px, 0px, 0); }
	to { -webkit-transform: translate3d(-70px, 230px, 0);transform: translate3d(-70px, 230px, 0); }
}
@keyframes piaoleaf {
	from { -webkit-transform: translate3d(0px, 0px, 0);transform: translate3d(0px, 0px, 0); }
	to { -webkit-transform: translate3d(-70px, 230px, 0);transform: translate3d(-70px, 230px, 0); }
}
@-webkit-keyframes panzi {
	0% { -webkit-transform: translate3d(0, -17px, 0);	transform: translate3d(0, -17px, 0); opacity: 0;}
	10%{-webkit-transform: translate3d(0, -13px, 0);	transform: translate3d(0, -13px, 0); opacity: 1;}
	100% { -webkit-transform: translate3d(0, 0px, 0);	transform: translate3d(0, 0px, 0); opacity: 1;}
}
@keyframes panzi {
	0% { -webkit-transform: translate3d(0, -17px, 0); transform: translate3d(0, -17px, 0); opacity: 0;}
	10%{ -webkit-transform: translate3d(0, -13px, 0); transform: translate3d(0, -13px, 0); opacity: 1;}
	100% { -webkit-transform: translate3d(0, 0px, 0); transform: translate3d(0, 0px, 0); opacity: 1;}
}
@-webkit-keyframes renOpacity {
	from { opacity: 0 }
	to { opacity: 1 }
} 
@keyframes renOpacity {
	from { opacity: 0 }
	to { opacity: 1 }
}
@-webkit-keyframes cameramove {
	0%{-webkit-transition-timing-function: cubic-bezier(.72,.05,.76,1); transition-timing-function: cubic-bezier(.72,.05,.76,1)}
	0% { -webkit-transform: translate3d(0, -600px, 0) rotate(-3.7deg); transform: translate3d(0, -600px, 0) rotate(-3.7deg); }
	30% { -webkit-transform: translate3d(0, 0px, 0) rotate(0deg); transform: translate3d(0, 0px, 0) rotate(0deg); }
	40%{-webkit-transform: translate3d(0, 0px, 0) rotate(-3.7deg); transform: translate3d(0, 0px, 0) rotate(-3.7deg); }
	50%,100%{-webkit-transform: translate3d(0, 0px, 0) rotate(0deg); transform: translate3d(0, 0px, 0) rotate(0deg); }
}
@keyframes cameramove {
	0%{-webkit-transition-timing-function: cubic-bezier(.72,.05,.76,1); transition-timing-function: cubic-bezier(.72,.05,.76,1)}
	0% { -webkit-transform: translate3d(0, -600px, 0) rotate(-3.7deg); transform: translate3d(0, -600px, 0) rotate(-3.7deg); }
	30% { -webkit-transform: translate3d(0, 0px, 0) rotate(0deg); transform: translate3d(0, 0px, 0) rotate(0deg); }
	40%{-webkit-transform: translate3d(0, 0px, 0) rotate(-3.7deg); transform: translate3d(0, 0px, 0) rotate(-3.7deg); }
	50%,100%{-webkit-transform: translate3d(0, 0px, 0) rotate(0deg); transform: translate3d(0, 0px, 0) rotate(0deg); }
}
@-webkit-keyframes baoguang {
	0%,55%{-webkit-filter: brightness(1); filter: brightness(1);}
	56%,60% { -webkit-filter: brightness(10); filter: brightness(10); }
	85%,100% { -webkit-filter: brightness(1); filter: brightness(1); }
}
@keyframes baoguang {
	0%,55%{-webkit-filter: brightness(1); filter: brightness(1);}
	56%,60% { -webkit-filter: brightness(10); filter: brightness(10); }
	85%,100% { -webkit-filter: brightness(1); filter: brightness(1); }
}
@-webkit-keyframes camerapic {
	0%{-webkit-transition-timing-function: cubic-bezier(.72,.05,.76,1); transition-timing-function: cubic-bezier(.72,.05,.76,1)}
	0% { -webkit-transform: rotate(3.7deg) translate3d(39px,600px,0) scale3d(.8,.8,1) ; transform: rotate(3.7deg) translate3d(39px,600px,0) scale3d(.8,.8,1); }
	30% { -webkit-transform: rotate(0deg) translate3d(0,0px,0) scale3d(.8,.8,1); transform: rotate(0deg) translate3d(0,0px,0) scale3d(.8,.8,1);  }
	40% { -webkit-transform: rotate(3.7deg) translate3d(0,0px,0) scale3d(.9,.9,1); transform: rotate(3.7deg) translate3d(0,0px,0) scale3d(.9,.9,1);  }
	50%,100% { -webkit-transform: rotate(0deg) translate3d(0,0px,0) scale3d(1,1,1); transform: rotate(0deg) translate3d(0,0px,0) scale3d(1,1,1);  }
}
@keyframes camerapic {
	0%{-webkit-transition-timing-function: cubic-bezier(.72,.05,.76,1); transition-timing-function: cubic-bezier(.72,.05,.76,1)}
	0% { -webkit-transform: rotate(3.7deg) translate3d(39px,600px,0) scale3d(.8,.8,1) ; transform: rotate(3.7deg) translate3d(39px,600px,0) scale3d(.8,.8,1); }
	30% { -webkit-transform: rotate(0deg) translate3d(0,0px,0) scale3d(.8,.8,1); transform: rotate(0deg) translate3d(0,0px,0) scale3d(.8,.8,1);  }
	40% { -webkit-transform: rotate(3.7deg) translate3d(0,0px,0) scale3d(.9,.9,1); transform: rotate(3.7deg) translate3d(0,0px,0) scale3d(.9,.9,1);  }
	50%,100% { -webkit-transform: rotate(0deg) translate3d(0,0px,0) scale3d(1,1,1); transform: rotate(0deg) translate3d(0,0px,0) scale3d(1,1,1);  }
}
@-webkit-keyframes cameraOut {
	from { -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale3d(1,1,1); transform: translate3d(0, 0, 0) rotate(0deg) scale3d(1,1,1); }
	to { -webkit-transform: translate3d(600px, -200px, 0) rotate(100deg) scale3d(.6,.6,1); transform: translate3d(600px, -200px, 0) rotate(100deg) scale3d(.6,.6,1);  }
}
@keyframes cameraOut {
	from { -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale3d(1,1,1); transform: translate3d(0, 0, 0) rotate(0deg) scale3d(1,1,1); }
	to { -webkit-transform: translate3d(600px, -200px, 0) rotate(100deg) scale3d(.6,.6,1); transform: translate3d(600px, -200px, 0) rotate(100deg) scale3d(.6,.6,1);  }
}
@-webkit-keyframes dlscroll {
	from { background-position: 0 0; }
	to { background-position: 0 201px; }
}
@keyframes dlscroll {
	from { background-position: 0 0; }
	to { background-position: 0 201px; }
}
@-webkit-keyframes dlscroll2 {
	from { background-position: center 0; }
	to { background-position: center 177px; }
}
@keyframes dlscroll2 {
	from { background-position: center 0; }
	to { background-position: center 177px; }
}
@-webkit-keyframes douzw {
	from { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
	to { -webkit-transform: scale3d(1.05, 1.05, 1); transform: scale3d(1.05, 1.05, 1); }
}
@keyframes douzw {
	from { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
	to { -webkit-transform: scale3d(1, 1.05, 1); transform: scale3d(1.05, 1.05, 1); }
}
@-webkit-keyframes slaver {
	from { -webkit-transform: scale3d(0, 0, 1) translate3d(-40px,40px,0); transform: scale3d(0, 0, 1) translate3d(-40px,40px,0); }
	to { -webkit-transform: scale3d(1, 1, 1) translate3d(25px,-18px,0); transform: scale3d(1, 1, 1) translate3d(25px,-18px,0); }
}
@keyframes slaver {
	from { -webkit-transform: scale3d(0, 0, 1) translate3d(-40px,40px,0); transform: scale3d(0, 0, 1) translate3d(-40px,40px,0); }
	to { -webkit-transform: scale3d(1, 1, 1) translate3d(25px,-18px,0); transform: scale3d(1, 1, 1) translate3d(25px,-18px,0); }
}
@-webkit-keyframes filpcalendar {
	0%,90% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	20%,40% { -webkit-transform: rotate(18deg); transform: rotate(18deg); }
}
@keyframes filpcalendar {
	0%,90% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	20%,40% { -webkit-transform: rotate(18deg); transform: rotate(18deg); }
}
@-webkit-keyframes handup {
	0%,90% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	20%,40% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg);}
}
@keyframes handup {
	0%,90% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	20%,40% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg);}
}
@-webkit-keyframes denglonghuang {
	from { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
	to { -webkit-transform: rotate(8deg); transform: rotate(8deg); }
}
@keyframes denglonghuang {
	from { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
	to { -webkit-transform: rotate(8deg); transform: rotate(8deg); }
}